.main-header {
  display: flex;
  height: 75px;
  margin: 0 24px;
  justify-content: space-between;
  align-items: center;
  padding: 48px 25px;
  /* flex-direction: row; */
  position: relative;
  border-bottom: 1px solid var(--bg-secondary);
  box-shadow: 0 5px 5px -6px rgba(0, 0, 0, 0.4);
}

.main-header .logo img {
  display: inline-block;
  height: auto;
  width: 150px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--bg-gradient-end);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 99;
  border: 1px solid var(--text-secondary);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
  box-shadow: 0 5px 5px -6px rgba(0, 0, 0, 0.4);
  padding-bottom: 5px;
}

.list-links li {
  margin: 12px 8px;
}

.list-links li a {
  color: var(--text-secondary);
  font-size: 20px;
}

/* .list-links .selection {
  margin: 10px 0 0;
  border-left: 5px solid var(--button-primary);
  border-radius: 3px;
} */

.list-links .selection a {
  /* margin-left: 5px; */
  color: var(--button-primary);
  font-size: 22px;
}

 .btn-peca-agora {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--button-primary);
  color: var(--text-tertiary);
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
} 

/* .btn-peca-agora {
  display: none;
} */

@media screen and (min-width: 1024px) {
  .main-header {
    margin: 0 55px;
  }
  .navigation-menu {
    width: 380px;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .list-links {
    margin: 0;
    box-shadow: none;
  }

  .list-links li a {
    color: var(--text-primary);
  }

  .list-links a:hover {
    color: var(--button-primary-hover);
  }

  .list-links .selection {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-header {
    height: 105px;
    padding: 48px 100px;
  }

  .main-header .logo img {
    display: inline-block;
    height: auto;
    width: 230px;
  }

  .navigation-menu {
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .list-links li a {
    display: flex;
    font-size: 24px;
    margin-right: 25px;
  }

  .btn-peca-agora {
    display: flex;
    position: static;
    padding: 0 35px;
    width: 250px;
    height: 55px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-primary);
    color: var(--text-tertiary);
    border-radius: 50px;
    font-weight: 900;
  }

  .btn-peca-agora img {
    width: 30px;
  }

  .btn-peca-agora:hover {
    background-color: var(--button-primary-hover);
  }
}

@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}
