.hero {
  display: block;
  margin-top: 24px;
}

.hero-text {
  width: 100%;
}

.hero-text h1 {
  font-size: 28px;
  color: var(--text-primary);
  line-height: 1.6;
}

.floating-burger {
  margin-top: 5px;
  float: right;
  width: 200px;
  height: auto;
  filter: drop-shadow(0 20px 35px rgba(0, 0, 0, 0.3));
}

.hero-text p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-secondary);
}

.hero-text span {
  color: var(--button-primary);
}
.hr-hero {
  margin: 15px 0 24px;
  width: 90px;
  border: 2px solid var(--button-primary);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 32px;
    color: var(--text-primary);
    line-height: 1.6;
    width: 380px;
  }

  .hero-text p {
    font-size: 20px;
    width: 350px;
  }

  .floating-burger {
    width: 320px;
    position: absolute;
    top: 120px;
    right: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    width: 750px;
    margin-top: 35px;
  }
  .hero-text h1 {
    font-size: 35px;
    color: var(--text-primary);
    line-height: 1.6;
    width: 420px;
  }

  .hero-text p {
    margin-top: 24px;
    font-size: 22px;
    width: 400px;
  }

  .floating-burger {
    top: 125px;
    right: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    width: 930px;
    margin-top: 40px;
  }

  .hero-text h1 {
    font-size: 40px;
    color: var(--text-primary);
    line-height: 1.6;
    width: 600px;
  }

  .hero-text p {
    margin-top: 24px;
    font-size: 22px;
    width: 600px;
  }

  .floating-burger {
    width: 360px;
    top: 130px;
    right: 20%;
  }
}

@media screen and (min-width: 1800px) {
  .hero {
    width: 950px;
  }

  .hero-text h1 {
    font-size: 45px;
    color: var(--text-primary);
    line-height: 1.6;
    width: 600px;
  }

  .floating-burger {
    width: 400px;
    right: 25%;
  }
}
